<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saint Motorcycles</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="header-superior">
            <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
            <label for="openSidebarMenu" class="sidebarIconToggle">
                <i class="fas fa-bars"></i>
            </label>
            <div id="sidebarMenu">
                <ul class="sidebarMenuInner">
                    <li><img class="logo" src="images/logo/Logo-Saint-motorcycles-2.png" alt=""></li>
                    <li><a href="#" target="_blank"><i class="fas fa-home"></i>Inicio</a></li>
                    <li><a href="views/login.html" target="_blank"><i class="fas fa-sign-in-alt"></i>Log In</a></li>
                    <li><a href="#" target="_blank"><i class="fas fa-users"></i>Nosotros</a></li>
                    <li><a href="#" target="_blank"><i class="fas fa-phone"></i>Contacto</a></li>
                </ul>
            </div>
            <a href="views/index.html"><img class="logo" src="images/logo/Logo-Saint-motorcycles-2.png"
                    alt="Logo Saint Motorcycles"></a>
            <div class="caja-buscador">
                <div class="icono-buscador"><i class="fas fa-search"></i></div>
                <input class="buscador" type="text" name="input" id="input" placeholder="Search...">
            </div>
        </div>
        <div>
            <nav class="contactos">

            </nav>
        </div>
    </header>
    <main>
        <section class="banner">
            <img class="img-banner" src="images/fondos/fondo-login-registro.jpg" alt="">
        </section>
        <section>

        </section>
    </main>
    <!-- FORMULARIO DE LOGIN -->
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Bienvenido
                </div>
                <form id="loginform">
                    <input type="text" name="usuario" placeholder="Usuario" required>
                    
                    <input type="password" placeholder="Contraseña" name="password" required>
                    
                    <button type="submit" title="Ingresar" name="Ingresar">Login</button>
                </form>
                <div class="pie-form">
                    <a href="#">¿Perdiste tu contraseña?</a>
                    <a href="#">¿No tienes Cuenta? Registrate</a>
                </div>
            </div>
            <div class="inferior">
                <a href="#">Volver</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="copyright">Todos los derechos reservados 2023, Saint Motorcycles. Diseñado por: Grupo 8.</a>
    </footer>
</body>

</html>