<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saint Motorcycles</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<header>
    <div class="main">
        <div class="info-basic">
            <div class="logo">
                <a href="#">
                    <img src="images/logo/Logo-Saint-motorcycles-2.png" alt="Logo de Saint Motorcycles">
                </a>
            </div>
            <div class="nav-form">
                <form action="">
                    <input type="search" placeholder="Buscar productos, marcas y más" autocomplete="off">
                </form>
                <nav class="barra1">
                    <a href="">Home</a>
                    <a href="">Motos</a>
                    <a href="">Accesorios</a>
                    <a href="">Nosotros</a>
                    <a href="">Login</a>
                </nav>
                <nav class="barra2">
                    <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </nav>
        </div>
    </div>
</header>
<body>
</body>
<footer>
    Todos los derechos reservados 2023, Saint Motorcycles. Diseñado por: Grupo 8.    
</footer>
</html>