<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo/Logo-Saint-motorcycles-2.png" />
    <title>Saint Motorcycles - Registro</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="header-superior">
          <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
          <label for="openSidebarMenu" class="sidebarIconToggle">
            <i class="fas fa-bars"></i>
          </label>
          <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
              <li><img class="logo-burger" src="images/logo/Logo-Saint-motorcycles-2.png" alt=""></li>
              <li><a href="/" target="_blank"><i class="fas fa-home"></i>Inicio</a></li>
              <li><a href="/login" target="_blank"><i class="fas fa-sign-in-alt"></i>Log In</a></li>
              <li><a href="/" target="_blank"><i class="fas fa-users"></i>Nosotros</a></li>
              <li><a href="/" target="_blank"><i class="fas fa-phone"></i>Contacto</a></li>
            </ul>
          </div>
          <div>
            <a href="/"><img class="logo" src="images/logo/Logo-Saint-motorcycles-2.png" alt=""></a>
          </div>
          <div class="buscador">
            <div class="icono-buscador"><i class="fas fa-search"></i></div>
            <input class="input" type="text" placeholder="Buscar productos, marcas">
          </div>
        </div>
        <div>
          <nav class="contactos">
    
          </nav>
        </div>
    </header>
</body>
</html>