<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo/Logo-Saint-motorcycles-2.png" />
    <title>Saint Motorcycles - Registro</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <header>
      <div class="header-superior">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <i class="fas fa-bars"></i>
        </label>
        <div id="sidebarMenu">
          <ul class="sidebarMenuInner">
            <li><img class="logo" src="images/logo/Logo-Saint-motorcycles-2.png" alt=""></li>
            <li><a href="#" target="_blank"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a href="views/login.html" target="_blank"><i class="fas fa-sign-in-alt"></i>Log In</a></li>
            <li><a href="#" target="_blank"><i class="fas fa-users"></i>Nosotros</a></li>
            <li><a href="#" target="_blank"><i class="fas fa-phone"></i>Contacto</a></li>
          </ul>
        </div>
        <a href="views/index.html"><img class="logo" src="images/logo/Logo-Saint-motorcycles-2.png"
            alt="Logo Saint Motorcycles"></a>
        <div class="caja-buscador">
          <div class="icono-buscador"><i class="fas fa-search"></i></div>
          <input class="buscador" type="text" name="input" id="input" placeholder="Search...">
        </div>
      </div>
      <div>
        <nav class="contactos">
  
        </nav>
      </div>
    </header>
    <main>
      <section>
  
      </section>
    </main>
    <!-- FORMULARIO DE LOGIN -->
    <div id="contenedor">
      <div id="central">
        <div id="login">
          <div class="titulo">
            Registrese
          </div>
          <form id="loginform">
            <input type="text" name="usuario" placeholder="Nombre Completo" required>
            <input type="text" name="usuario" placeholder="E-mail" required>
            <input type="password" placeholder="Contraseña" name="Contraseña" required>
            <input type="password" placeholder="Repita su Contraseña" name="Contraseña" required>
            <button type="submit" title="Ingresar" name="Ingresar">Crear Usuario</button>
          </form>
          <div class="pie-form">
            <a href="views/login.html">Volver</a>
          </div>
        </div>
        <div class="inferior">
        </div>
      </div>
    </div>
    <footer>
      <section>
        <div>
          <ul class="caja-marcas">
            <li><a href=""><img class="marcas" src="images/logo_marcas/bajaj.png" alt="bajaj"></a></li>
            <li><a href=""><img class="marcas" src="images/logo_marcas/kawasaki negro.png" alt="kawasaki"></a></li>
            <li><a href=""><img class="marcas" src="images/logo_marcas/ktm.png" alt="ktm"></a></li>
            <li><a href=""><img class="marcas" src="images/logo_marcas/logo honda.png" alt="honda"></a></li>
            <li><a href=""><img class="marcas" src="images/logo_marcas/suzuki.png" alt="suzuki"></a></li>
            <li><a href=""><img class="marcas" src="images/logo_marcas/yamaha.png" alt="yamaha"></a></li>
          </ul>
        </div>
      </section>
      <section>
        <div class="footer-content">
          <div>
            <a href="/"><img class="logo-footer" src="images/logo/Logo-Saint-motorcycles-2.png" alt="Saint Motorcycles"></a>
            <h3>Saint Motorcycles</h3>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean varius ante metus, vitae tristique urna
            luctus
            nec.</p>
          <ul class="socials">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://github.com/Alexxis8/grupo_8_Ecommerce"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
            <li><a href="#"><i class="fas fa-envelope"></i></i></a></li>
          </ul>
        </div>
        <div class="footer-menu">
          <ul class="f-menu">
            <li><a href="">Inicio</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Blog</a></li>
          </ul>
        </div>
        <div class="footer-bottom">
          <p>copyright &copy;2023 <a href=”#”>Saint Motorcycles</a> </p>
        </div>
      </section>
    </footer>
  </body>
</html>