root{
    --gris-claro: #DBDBDB;
    --rojo: #B42629;
    --color-letras: #000;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: row;
    width: 1920px auto;
    margin: 0 auto;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--color-letras);
}

header{
    background-color: var(--rojo);
    height: 100px;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
    line-height: 80px;
}

body{
    font-family: sans-serif;
    font-weight: lighter;
    color: var(--color-letras);
    background-color: var(--gris-claro);
    height: 100vh;
}

.logo{
    width: 50%;
    height: 0%;
    display: flex;
    justify-content: flex-end;
}

footer{
    height: 100px;
    display: flex;
    bottom: 0;
    left: 0;

    justify-content: space-between;
}

.copyrigth{
    justify-content: end;
}