@import 'index.css';
@import 'login.css';
@import 'productCart.css';
@import 'productDetail.css';
@import 'register.css';

root{
    --gris-claro: #DBDBDB;
    --rojo: #B42629;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header{
    background-color: #B42629;
}

.header-superior{
    display: flex;
    box-sizing: border-box;
}

.fa-bars{
    display: flex;
    align-items: center;
    transition: all 0.3s;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background-color: #B42629;
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.logo{
    width: 100%;
}
.caja-buscador{
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
}

.buscador{
    background-color: #fff;
    border: 2px solid #555;
}

body{
    font-family: 'Cairo', sans-serif;
}

.img-banner{
    width: 100%;
}