@import 'index.css';
@import 'login.css';
@import 'productCart.css';
@import 'productDetail.css';
@import 'register.css';

root{
    --gris-claro: #DBDBDB;
    --rojo: #B42629;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #B42629;
}

.logo{
    width: 50%;
}

.buscador{
    background-color: #fff;
    border: 2px solid #555;
}

body{
    font-family: 'Cairo', sans-serif;
}