<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>
    <main>
      <section>
        <div class="contenido-banner">
          <div class="caja-banner">
            <h1 id="titulo-banner">Título</h1>
            <p id="texto-banner">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, labore?</p>
            <a id="btn-banner" href="#">Botón</a>
          </div>
          </div>
      </section>
      <h3 class="titulares">Destacados</h3>
      <section id="seccion-motos">
        <div class="caja-card">
          <div class="wrapper">
            <div class="imagen-card">
              <img class="motos" src="images/motos/Yamaha-FZX/2023_YC150_MDPBM1_IND_01 YAMAHA FZX BLU 360 00003.jpg" alt="">
            </div>
          <div class="contenido-texto">
            <h4 class="titulo-card">Yamaha-FZX</h4>
            <p class="precio">$20.000</p>
          </div>
          <ul class="detalle-producto">
            <li class="li">
              <p>Peso</p>
            </li>
            <li class="li">
              <p>Año</p>
            </li>
            <li class="li">
              <p>Velocidad</p>
            </li>
          </ul>
          <div class="button-wrapper"> 
            <button class="btn detalle">DETALLE</button>
              <button class="btn comprar" type="submit">COMPRAR</button>
            </div>
          </div>
        </div>
        <div class="caja-card">
          <div class="wrapper">
            <div class="imagen-card">
              <img class="motos" src="images/motos/Yamaha-FZX/2023_YC150_MDPBM1_IND_01 YAMAHA FZX BLU 360 00003.jpg" alt="">
            </div>
          <div class="contenido-texto">
            <h4 class="titulo-card">Yamaha-FZX</h4>
            <p class="precio">$20.000</p>
          </div>
          <ul class="detalle-producto">
            <li class="li">
              <p>Peso</p>
            </li>
            <li class="li">
              <p>Año</p>
            </li>
            <li class="li">
              <p>Velocidad</p>
            </li>
          </ul>
          <div class="button-wrapper"> 
            <button class="btn detalle">DETALLE</button>
              <button class="btn comprar" type="submit">COMPRAR</button>
            </div>
          </div>
        </div>
        <div class="caja-card">
          <div class="wrapper">
            <div class="imagen-card">
              <img class="motos" src="images/motos/Yamaha-FZX/2023_YC150_MDPBM1_IND_01 YAMAHA FZX BLU 360 00003.jpg" alt="">
            </div>
          <div class="contenido-texto">
            <h4 class="titulo-card">Yamaha-FZX</h4>
            <p class="precio">$20.000</p>
          </div>
          <ul class="detalle-producto">
            <li class="li">
              <p>Peso</p>
            </li>
            <li class="li">
              <p>Año</p>
            </li>
            <li class="li">
              <p>Velocidad</p>
            </li>
          </ul>
          <div class="button-wrapper"> 
            <button class="btn detalle">DETALLE</button>
              <button class="btn comprar" type="submit">COMPRAR</button>
            </div>
          </div>
        </div>
        <div class="caja-card">
          <div class="wrapper">
            <div class="imagen-card">
              <img class="motos" src="images/motos/Yamaha-FZX/2023_YC150_MDPBM1_IND_01 YAMAHA FZX BLU 360 00003.jpg" alt="">
            </div>
          <div class="contenido-texto">
            <h4 class="titulo-card">Yamaha-FZX</h4>
            <p class="precio">$20.000</p>
          </div>
          <ul class="detalle-producto">
            <li class="li">
              <p>Peso</p>
            </li>
            <li class="li">
              <p>Año</p>
            </li>
            <li class="li">
              <p>Velocidad</p>
            </li>
          </ul>
          <div class="button-wrapper"> 
            <button class="btn detalle">DETALLE</button>
              <button class="btn comprar" type="submit">COMPRAR</button>
            </div>
          </div>
        </div>
      </section>
      <h3 class="titulares">Accesorios</h3>
      <section id="seccion-motos">
        <div class="caja-card">
          <div class="wrapper">
            <div class="imagen-card">
              <img class="motos" src="images/motos/Yamaha-FZX/2023_YC150_MDPBM1_IND_01 YAMAHA FZX BLU 360 00003.jpg" alt="">
            </div>
          <div class="contenido-texto">
            <h4 class="titulo-card">Yamaha-FZX</h4>
            <p class="precio">$20.000</p>
          </div>
          <ul class="detalle-producto">
            <li class="li">
              <p>Peso</p>
            </li>
            <li class="li">
              <p>Año</p>
            </li>
            <li class="li">
              <p>Velocidad</p>
            </li>
          </ul>
          <div class="button-wrapper"> 
            <button class="btn detalle">DETALLE</button>
              <button class="btn comprar" type="submit">COMPRAR</button>
            </div>
          </div>
        </div>
        <div class="caja-card">
          <div class="wrapper">
            <div class="imagen-card">
              <img class="motos" src="images/motos/Yamaha-FZX/2023_YC150_MDPBM1_IND_01 YAMAHA FZX BLU 360 00003.jpg" alt="">
            </div>
          <div class="contenido-texto">
            <h4 class="titulo-card">Yamaha-FZX</h4>
            <p class="precio">$20.000</p>
          </div>
          <ul class="detalle-producto">
            <li class="li">
              <p>Peso</p>
            </li>
            <li class="li">
              <p>Año</p>
            </li>
            <li class="li">
              <p>Velocidad</p>
            </li>
          </ul>
          <div class="button-wrapper"> 
            <button class="btn detalle">DETALLE</button>
              <button class="btn comprar" type="submit">COMPRAR</button>
            </div>
          </div>
        </div>
        <div class="caja-card">
          <div class="wrapper">
            <div class="imagen-card">
              <img class="motos" src="images/motos/Yamaha-FZX/2023_YC150_MDPBM1_IND_01 YAMAHA FZX BLU 360 00003.jpg" alt="">
            </div>
          <div class="contenido-texto">
            <h4 class="titulo-card">Yamaha-FZX</h4>
            <p class="precio">$20.000</p>
          </div>
          <ul class="detalle-producto">
            <li class="li">
              <p>Peso</p>
            </li>
            <li class="li">
              <p>Año</p>
            </li>
            <li class="li">
              <p>Velocidad</p>
            </li>
          </ul>
          <div class="button-wrapper"> 
            <button class="btn detalle">DETALLE</button>
              <button class="btn comprar" type="submit">COMPRAR</button>
            </div>
          </div>
        </div>
        <div class="caja-card">
          <div class="wrapper">
            <div class="imagen-card">
              <img class="motos" src="images/motos/Yamaha-FZX/2023_YC150_MDPBM1_IND_01 YAMAHA FZX BLU 360 00003.jpg" alt="">
            </div>
          <div class="contenido-texto">
            <h4 class="titulo-card">Yamaha-FZX</h4>
            <p class="precio">$20.000</p>
          </div>
          <ul class="detalle-producto">
            <li class="li">
              <p>Peso</p>
            </li>
            <li class="li">
              <p>Año</p>
            </li>
            <li class="li">
              <p>Velocidad</p>
            </li>
          </ul>
          <div class="button-wrapper"> 
            <button class="btn detalle">DETALLE</button>
              <button class="btn comprar" type="submit">COMPRAR</button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>