<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>
  <%- include('partials/header.ejs') %>
  <main>
    <section>
  <!-- FORMULARIO DE LOGIN -->
  <div id="contenedor">
    <div id="central">
      <div id="login">
        <div class="titulo">
          Registrese
        </div>
        <form id="loginform" action="/userCreate" method="POST" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="Nombre" id="nombre" required>
          <input type="text" name="surname" placeholder="Apellido" id="apellido"required>
          <input type="text" name="dni" placeholder="DNI" id="dni" required>
          <input type="text" name="email" placeholder="E-mail" id="email" required>
          <input type="text" name="email" placeholder="Repita su E-mail" required>
          <input type="password" placeholder="Contraseña" name="clave" id="contrasenia" required>
          <input type="password" placeholder="Repita su Contraseña" name="clave" required>

          <button type="submit" value="registrar" title="Crear Usuario" name="Crear">Crear Usuario</button>
        </form>
        <div class="pie-form">
          <a href="/login">Volver</a>
        </div>
      </div>
      <div class="inferior">
      </div>
    </div>
  </div>
</section>
</main>
<%- include('partials/footer.ejs') %>
</body>

</html>