<footer>
    <section>
      <div>
        <ul class="caja-marcas">
          <li><a href=""><img class="marcas" src="images/logo_marcas/bajaj.png" alt=""></a></li>
          <li><a href=""><img class="marcas" src="images/logo_marcas/kawasaki negro.png" alt=""></a></li>
          <li><a href=""><img class="marcas" src="images/logo_marcas/ktm.png" alt=""></a></li>
          <li><a href=""><img class="marcas" src="images/logo_marcas/logo honda.png" alt=""></a></li>
          <li><a href=""><img class="marcas" id="suzuki" src="images/logo_marcas/suzuki.png" alt=""></a></li>
          <li><a href=""><img class="marcas" src="images/logo_marcas/yamaha.png" alt=""></a></li>
        </ul>
      </div>
      <div class="footer-content">
        <div>
        <a href="/"><img class="logo-footer" src="images/logo/Logo-Saint-motorcycles-2.png" alt=""></a>
        <h3>Saint Motorcycles</h3>
      </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean varius ante metus, vitae tristique urna luctus nec.</p>
        <ul class="socials">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
          <li><a href="#"><i class="fas fa-envelope"></i></i></a></li>
       </ul>
    </div>
    <div class="footer-menu">
      <ul class="f-menu">
         <li><a href="">Home</a></li>
         <li><a href="">About</a></li>
         <li><a href="">Contact</a></li>
         <li><a href="">Blog</a></li>
      </ul>
     </div>
    <div class="footer-bottom">
      <p>copyright &copy;2023 <a href=”#”>Saint Motorcycles</a>  </p>
   </div>
    </section>
  </footer>