<footer>
    <section>
      <div>
        <ul class="caja-marcas">
          <li><a href="https://argentina.globalbajaj.com/" target="_blank"><img class="marcas" src="/images/logo_marcas/bajaj.png" alt=""></a></li>
          <li><a href="https://kawasakiargentina.com.ar/es/" target="_blank"><img class="marcas" src="/images/logo_marcas/kawasaki negro.png" alt=""></a></li>
          <li><a href="https://www.ktm.com/es-ar.html" target="_blank"><img class="marcas" src="/images/logo_marcas/ktm.png" alt=""></a></li>
          <li><a href="https://motos.honda.com.ar/" target="_blank"><img class="marcas" src="/images/logo_marcas/logo honda.png" alt=""></a></li>
          <li><a href="https://suzukimotosarg.com.ar/" target="_blank"><img class="marcas" id="suzuki" src="/images/logo_marcas/suzuki.png" alt=""></a></li>
          <li><a href="https://www.yamaha-motor.com.ar/" target="_blank"><img class="marcas" src="/images/logo_marcas/yamaha.png" alt=""></a></li>
        </ul>
      </div>
      <div class="footer-content">
        <div>
        <a href="/"><img class="logo-footer" src="/images/logo/Logo-Saint-motorcycles-2.png" alt=""></a>
        <h3>Saint Motorcycles</h3>
      </div>
        <p>Contactanos</p>
        <ul class="socials">
          <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://github.com/Alexxis8/grupo_8_Ecommerce" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.google.com/maps"><i class="fas fa-map-marker-alt"></i></a></li>
          <li><a href="mailto:saintmotorcyle@gmail.com"><i class="fas fa-envelope"></i></i></a></li>
       </ul>
    </div>
    <div class="footer-menu">
      <ul class="f-menu">
         <li><a href="/">Inicio</a></li>
         <li><a href="/products">Productos</a></li>
         <li><a href="/login">Login</a></li>
         <li><a href="https://github.com/Alexxis8/grupo_8_Ecommerce" target="_blank">Nosotros</a></li>
         <li><a href="/productCart">Carrito</a></li>
      </ul>
     </div>
    <div class="footer-bottom">
      <p>copyright &copy;2023 <a href="https://github.com/Alexxis8/grupo_8_Ecommerce" target="_blank">Saint Motorcycles</a></p>
   </div>
    </section>
  </footer>