<footer>
    <section>
      <div>
        <ul class="caja-marcas">
          <li><a href=""><img class="marcas" src="/images/logo_marcas/bajaj.png" alt=""></a></li>
          <li><a href=""><img class="marcas" src="/images/logo_marcas/kawasaki negro.png" alt=""></a></li>
          <li><a href=""><img class="marcas" src="/images/logo_marcas/ktm.png" alt=""></a></li>
          <li><a href=""><img class="marcas" src="/images/logo_marcas/logo honda.png" alt=""></a></li>
          <li><a href=""><img class="marcas" id="suzuki" src="/images/logo_marcas/suzuki.png" alt=""></a></li>
          <li><a href=""><img class="marcas" src="/images/logo_marcas/yamaha.png" alt=""></a></li>
        </ul>
      </div>
      <div class="footer-content">
        <div>
        <a href="/"><img class="logo-footer" src="/images/logo/Logo-Saint-motorcycles-2.png" alt=""></a>
        <h3>Saint Motorcycles</h3>
      </div>
        <p>Contactanos</p>
        <ul class="socials">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://github.com/Alexxis8/grupo_8_Ecommerce"><i class="fab fa-github"></i></a></li>
          <li><a href="#"><i class="fas fa-map-marker-alt"></i></a></li>
          <li><a href="#"><i class="fas fa-envelope"></i></i></a></li>
       </ul>
    </div>
    <div class="footer-menu">
      <ul class="f-menu">
         <li><a href="">Inicio</a></li>
         <li><a href="">Productos</a></li>
         <li><a href="">Login</a></li>
         <li><a href="">Nosotros</a></li>
         <li><a href="">Carrito</a></li>
      </ul>
     </div>
    <div class="footer-bottom">
      <p>copyright &copy;2023 <a href=”#”>Saint Motorcycles</a>  </p>
   </div>
    </section>
  </footer>