<header>
    <div class="header-superior">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
<i class="fas fa-bars"></i>
</label>
<div id="sidebarMenu">
<ul class="sidebarMenuInner">
  <li><img class="logo-burger" src="images/logo/Logo-Saint-motorcycles-2.png" alt=""></li>
  <li><a href="/" target="_blank"><i class="fas fa-home"></i>Inicio</a></li>
  <li><a href="/login" target="_blank"><i class="fas fa-sign-in-alt"></i>Log In</a></li>
  <li><a href="/" target="_blank"><i class="fas fa-users"></i>Nosotros</a></li>
  <li><a href="/" target="_blank"><i class="fas fa-phone"></i>Contacto</a></li>
</ul>
</div>
<div class="caja-logo">
<a href="/"><img class="logo" src="images/logo/Logo-Saint-motorcycles-2.png" alt=""></a>
</div>
<nav class="botonera">
<a href="/" target="_blank"><button class="btn-header">INICIO</button></a>
<a href="/login" target="_blank"><button class="btn-header">LOGIN</button></a>
<a href="" target="_blank"><button class="btn-header">NOSOTROS</button></a>
<a href="" target="_blank"><button class="btn-header">CONTACTO</button></a>
</nav>
<div class="buscador">
<div class="icono-buscador"><i class="fas fa-search"></i></div>
<input class="input" type="text" placeholder="Buscar productos, marcas">
</div>
    </div>
</header>